.paratell {
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  padding: 10px;
  line-height: 30px;
}

/*.paratell > .paratell {*/
/*background-color: #999999;*/
/*}*/

.paratell:after {
  content: '\25bc';
  line-height: 30px;
}

.opened.paratell:after {
  content: '\25b2';
}

.js .paragraph-type-title {
  flex-basis: 75% !important;
}


.js .field--widget-entity-reference-paragraphs .field-multiple-drag {
  vertical-align: middle !important;
}
